In [1]:
from time import perf_counter
import pandas as pd
import numpy as np
from AllSpark.core.pd_compare import Compare

In [2]:
start = perf_counter()
df1 = pd.read_csv(r'D:\Project\AllSpark\tests\testdata\L3_stockquotes_20160105_BAS.csv')
df2 = pd.read_csv(r'D:\Project\AllSpark\tests\testdata\L3_stockquotes_20160105_REG.csv')
compare = Compare(left=df1, right=df2, key_columns=['symbol', 'quotedate'])
print(perf_counter() - start)

2019-10-28 02:10:52,989 - INFO - _merge_dataframe: Merging dataframes for comparison, on basis of key columns :['symbol', 'quotedate']

0.34864309999999676

In [3]:
compare.diff

,,adjustedclose_left,adjustedclose_right,adjustedclose_diff,volume_left,volume_right,volume_diff,low_left,low_right,low_diff,text_left,...,close_right,close_diff,open_left,open_right,open_diff,high_left,high_right,high_diff,rows_present,_left_missing_columns
symbol,quotedate,,,,,,,,,,,,,,,,,,,,,
AAN,01-05-2016,23.120,23.12,NaN,1030099,1030097.0,2,22.69,22.69,NaN,a,...,23.120,-3.12,22.73,22.73,NaN,23.30,23.30,NaN,both,extra
AAP,01-05-2016,151.200,151.20,NaN,1109219,1109219.0,NaN,149.89,149.89,NaN,b,...,151.200,NaN,152.35,152.35,NaN,153.79,153.79,NaN,both,extra
AAPO,01-05-2016,1.000,1.00,NaN,55077191,55077191.0,NaN,102.41,102.41,NaN,1,...,102.714,NaN,105.75,105.75,NaN,105.85,105.85,NaN,both,extra
AAPV,01-05-2016,102.714,1.00,101.714,55077191,55077191.0,NaN,102.41,102.41,NaN,a,...,102.714,NaN,105.75,105.75,NaN,105.85,105.85,NaN,both,extra
AAPX,01-05-2016,1.000,NaN,DIFF.TRUE,55077191,NaN,DIFF.TRUE,102.41,NaN,DIFF.TRUE,1,...,NaN,DIFF.TRUE,105.75,NaN,DIFF.TRUE,105.85,NaN,DIFF.TRUE,left_only,extra

In [4]:
compare.metadata

,column_present,left_column,left_count,right_column,right_count,diff_column,diff_count
column,,,,,,,
adjustedclose,both,adjustedclose_left,5,adjustedclose_right,4,adjustedclose_diff,2
volume,both,volume_left,5,volume_right,4,volume_diff,2
low,both,low_left,5,low_right,4,low_diff,1
text,both,text_left,5,text_right,4,text_diff,3
close,both,close_left,5,close_right,4,close_diff,2
open,both,open_left,5,open_right,4,open_diff,1
high,both,high_left,5,high_right,4,high_diff,1
extra,right_only,NaN,NaN,extra,9,NaN,NaN

In [7]:
compare.style_differ()

C:\Users\Aayush Jain\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:896: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_nested_tuple(tup)

In [19]:
pd.util.testing.makeTimeDataFrame().index

DatetimeIndex(['2000-01-03', '2000-01-04', '2000-01-05', '2000-01-06',
               '2000-01-07', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14', '2000-01-17', '2000-01-18',
               '2000-01-19', '2000-01-20', '2000-01-21', '2000-01-24',
               '2000-01-25', '2000-01-26', '2000-01-27', '2000-01-28',
               '2000-01-31', '2000-02-01', '2000-02-02', '2000-02-03',
               '2000-02-04', '2000-02-07', '2000-02-08', '2000-02-09',
               '2000-02-10', '2000-02-11'],
              dtype='datetime64[ns]', freq='B')