In [1]:
from time import perf_counter
import pandas as pd
import numpy as np
from AllSpark.core.pd_compare import Compare

In [9]:
start = perf_counter()
df1 = pd.read_csv(r'D:\AllSpark-master\AllSpark-master\tests\testdata\L3_stockquotes_20160105_BAS.csv')
df2 = pd.read_csv(r'D:\AllSpark-master\AllSpark-master\tests\testdata\L3_stockquotes_20160105_REG.csv')
compare = Compare(left=df1, right=df2, key_columns=['symbol', 'quotedate'])
print(perf_counter() - start)

2019-10-23 20:37:11,138 - INFO - _merge_dataframe: Merging dataframes for comparison, on basis of key columns :['symbol', 'quotedate']

0.40945665199978976

In [10]:
compare.diff

,,high_left,high_right,high_diff,close_left,close_right,close_diff,open_left,open_right,open_diff,volume_left,...,text_right,text_diff,adjustedclose_left,adjustedclose_right,adjustedclose_diff,low_left,low_right,low_diff,rows_present,_left_missing_columns
symbol,quotedate,,,,,,,,,,,,,,,,,,,,,
AAN,01-05-2016,23.30,23.30,NaN,20.000,23.120,-3.12,22.73,22.73,NaN,1030099,...,a,NaN,23.120,23.12,NaN,22.69,22.69,NaN,both,extra
AAP,01-05-2016,153.79,153.79,NaN,151.200,151.200,NaN,152.35,152.35,NaN,1109219,...,a,DIFF.TRUE,151.200,151.20,NaN,149.89,149.89,NaN,both,extra
AAPO,01-05-2016,105.85,105.85,NaN,102.714,102.714,NaN,105.75,105.75,NaN,55077191,...,1.5,-0.5,1.000,1.00,NaN,102.41,102.41,NaN,both,extra
AAPV,01-05-2016,105.85,105.85,NaN,102.714,102.714,NaN,105.75,105.75,NaN,55077191,...,a,NaN,102.714,1.00,101.714,102.41,102.41,NaN,both,extra
AAPX,01-05-2016,105.85,NaN,DIFF.TRUE,102.714,NaN,DIFF.TRUE,105.75,NaN,DIFF.TRUE,55077191,...,NaN,DIFF.TRUE,1.000,NaN,DIFF.TRUE,102.41,NaN,DIFF.TRUE,left_only,extra

In [11]:
compare.metadata

high_left                5
high_right               4
high_diff                1
close_left               5
close_right              4
close_diff               2
open_left                5
open_right               4
open_diff                1
volume_left              5
volume_right             4
volume_diff              2
text_left                5
text_right               4
text_diff                3
adjustedclose_left       5
adjustedclose_right      4
adjustedclose_diff       2
low_left                 5
low_right                4
low_diff                 1
_left_missing_columns    5
dtype: int64

In [8]:
compare.column_mapping

{'ln_actvt_dt': {'left': 'ln_actvt_dt_left',
  'right': 'ln_actvt_dt_right',
  'diff': 'ln_actvt_dt_diff'},
 'grs_ord_acs_cnt': {'left': 'grs_ord_acs_cnt_left',
  'right': 'grs_ord_acs_cnt_right',
  'diff': 'grs_ord_acs_cnt_diff'},
 'dvc_sku_cd': {'left': 'dvc_sku_cd_left',
  'right': 'dvc_sku_cd_right',
  'diff': 'dvc_sku_cd_diff'},
 'dvc_color': {'left': 'dvc_color_left',
  'right': 'dvc_color_right',
  'diff': 'dvc_color_diff'},
 'dvc_prot_prc_amt': {'left': 'dvc_prot_prc_amt_left',
  'right': 'dvc_prot_prc_amt_right',
  'diff': 'dvc_prot_prc_amt_diff'},
 'fin_cnt': {'left': 'fin_cnt_left',
  'right': 'fin_cnt_right',
  'diff': 'fin_cnt_diff'},
 'ord_item_type': {'left': 'ord_item_type_left',
  'right': 'ord_item_type_right',
  'diff': 'ord_item_type_diff'},
 'pif_cnt': {'left': 'pif_cnt_left',
  'right': 'pif_cnt_right',
  'diff': 'pif_cnt_diff'},
 'sls_ln_num_port_ind': {'left': 'sls_ln_num_port_ind_left',
  'right': 'sls_ln_num_port_ind_right',
  'diff': 'sls_ln_num_port_ind_diff'},
 'acs_type': {'left': 'acs_type_left',
  'right': 'acs_type_right',
  'diff': 'acs_type_diff'},
 'sls_item_type': {'left': 'sls_item_type_left',
  'right': 'sls_item_type_right',
  'diff': 'sls_item_type_diff'},
 'ln_actvt_cnt': {'left': 'ln_actvt_cnt_left',
  'right': 'ln_actvt_cnt_right',
  'diff': 'ln_actvt_cnt_diff'},
 'survd_30_day_ind': {'left': 'survd_30_day_ind_left',
  'right': 'survd_30_day_ind_right',
  'diff': 'survd_30_day_ind_diff'},
 'sls_loc': {'left': 'sls_loc_left',
  'right': 'sls_loc_right',
  'diff': 'sls_loc_diff'},
 'grs_ord_item_id': {'left': 'grs_ord_item_id_left',
  'right': 'grs_ord_item_id_right',
  'diff': 'grs_ord_item_id_diff'},
 'ord_sub_sts_cd': {'left': 'ord_sub_sts_cd_left',
  'right': 'ord_sub_sts_cd_right',
  'diff': 'ord_sub_sts_cd_diff'},
 'rt_plan_cd': {'left': 'rt_plan_cd_left',
  'right': 'rt_plan_cd_right',
  'diff': 'rt_plan_cd_diff'},
 'sub_sls_chnl': {'left': 'sub_sls_chnl_left',
  'right': 'sub_sls_chnl_right',
  'diff': 'sub_sls_chnl_diff'},
 'ord_place_dt': {'left': 'ord_place_dt_left',
  'right': 'ord_place_dt_right',
  'diff': 'ord_place_dt_diff'},
 'ln_sold_cnt': {'left': 'ln_sold_cnt_left',
  'right': 'ln_sold_cnt_right',
  'diff': 'ln_sold_cnt_diff'},
 'eff_dt': {'left': 'eff_dt_left',
  'right': 'eff_dt_right',
  'diff': 'eff_dt_diff'},
 'agn_id': {'left': 'agn_id_left',
  'right': 'agn_id_right',
  'diff': 'agn_id_diff'},
 'acty_dt': {'left': 'acty_dt_left',
  'right': 'acty_dt_right',
  'diff': 'acty_dt_diff'},
 'ord_type': {'left': 'ord_type_left',
  'right': 'ord_type_right',
  'diff': 'ord_type_diff'},
 'ord_acs_cnt': {'left': 'ord_acs_cnt_left',
  'right': 'ord_acs_cnt_right',
  'diff': 'ord_acs_cnt_diff'},
 'exp_dt': {'left': 'exp_dt_left',
  'right': 'exp_dt_right',
  'diff': 'exp_dt_diff'},
 'add_a_ln_cnt': {'left': 'add_a_ln_cnt_left',
  'right': 'add_a_ln_cnt_right',
  'diff': 'add_a_ln_cnt_diff'},
 'ord_sts_cd': {'left': 'ord_sts_cd_left',
  'right': 'ord_sts_cd_right',
  'diff': 'ord_sts_cd_diff'},
 'sls_chnl': {'left': 'sls_chnl_left',
  'right': 'sls_chnl_right',
  'diff': 'sls_chnl_diff'},
 'ln_num_port_ind': {'left': 'ln_num_port_ind_left',
  'right': 'ln_num_port_ind_right',
  'diff': 'ln_num_port_ind_diff'},
 'dvc_prot_ind': {'left': 'dvc_prot_ind_left',
  'right': 'dvc_prot_ind_right',
  'diff': 'dvc_prot_ind_diff'},
 'rec_open_ind': {'left': 'rec_open_ind_left',
  'right': 'rec_open_ind_right',
  'diff': 'rec_open_ind_diff'},
 'acs_cnt': {'left': 'acs_cnt_left',
  'right': 'acs_cnt_right',
  'diff': 'acs_cnt_diff'},
 'grs_ord_ln_cnt': {'left': 'grs_ord_ln_cnt_left',
  'right': 'grs_ord_ln_cnt_right',
  'diff': 'grs_ord_ln_cnt_diff'},
 'dvc_mdl': {'left': 'dvc_mdl_left',
  'right': 'dvc_mdl_right',
  'diff': 'dvc_mdl_diff'},
 'invc_sts': {'left': 'invc_sts_left',
  'right': 'invc_sts_right',
  'diff': 'invc_sts_diff'},
 'ln_ship_cnt': {'left': 'ln_ship_cnt_left',
  'right': 'ln_ship_cnt_right',
  'diff': 'ln_ship_cnt_diff'},
 'acct_type': {'left': 'acct_type_left',
  'right': 'acct_type_right',
  'diff': 'acct_type_diff'},
 'ord_ship_dt': {'left': 'ord_ship_dt_left',
  'right': 'ord_ship_dt_right',
  'diff': 'ord_ship_dt_diff'},
 'ord_id': {'left': 'ord_id_left',
  'right': 'ord_id_right',
  'diff': 'ord_id_diff'},
 'rt_plan_mrc_amt': {'left': 'rt_plan_mrc_amt_left',
  'right': 'rt_plan_mrc_amt_right',
  'diff': 'rt_plan_mrc_amt_diff'},
 'byod_fl': {'left': 'byod_fl_left',
  'right': 'byod_fl_right',
  'diff': 'byod_fl_diff'},
 'avtn_num_id': {'left': 'avtn_num_id_left',
  'right': 'avtn_num_id_right',
  'diff': 'avtn_num_id_diff'},
 'dpp_bal': {'left': 'dpp_bal_left',
  'right': 'dpp_bal_right',
  'diff': 'dpp_bal_diff'},
 'dvc_oem_nm': {'left': 'dvc_oem_nm_left',
  'right': 'dvc_oem_nm_right',
  'diff': 'dvc_oem_nm_diff'},
 'new_ln_cnt': {'left': 'new_ln_cnt_left',
  'right': 'new_ln_cnt_right',
  'diff': 'new_ln_cnt_diff'},
 'dvc_mem': {'left': 'dvc_mem_left',
  'right': 'dvc_mem_right',
  'diff': 'dvc_mem_diff'},
 'ord_item_id': {'left': 'ord_item_id_left',
  'right': 'ord_item_id_right',
  'diff': 'ord_item_id_diff'}}

In [ ]:
new = pd.DataFrame(columns=['column', 'column_present', 'left_column', 'left_count','right_column', 'right_count', 'diff_column','diff_count']).set_index('column')
for column in compare.column_mapping:
    if column['diff'] in compare.metadata:
        new[]